.tableContainer {
  margin: 2rem auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-margin-top: 100px;
}

.tableTitle {
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
  font-size: 1.2em;
}

.markdown-table {
  margin-top: 1rem;
  width: 100%;
}

.tableRef {
  font-size: 1.2em;
  margin: 1rem;
  text-decoration: none;
  color: #0070f3;
}
